{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign selected_image = selected_variant.image | default: product.featured_image %}

{%- if onboarding or product.images.size > 0 -%}
  <section
    class="
      product-gallery
      product-gallery-layout-{{ layout }}
    "
    data-product-gallery-layout="{{ layout }}"
  >
    <div class="product-images-scrollable">
      {% if layout == 'alternate' %}
        <button
          class="product-images-scroll-up"
          type="button"
          data-product-images-scroll-up
        >
          {%- include 'icon', id: 'arrow' -%}
        </button>
      {% endif %}

      <div class="product-images" data-product-images>
        {%- for image in product.images -%}
          <figure
            class="
              product-image
              {% if selected_image == image %}
                product-image-selected
              {% endif %}
            "
            data-product-image
            data-product-image-index="{{ forloop.index0 }}"
            data-product-image-id="{{ image.id }}"
            {% if layout == 'standard' %}
              data-product-image-zoom
            {% endif %}
            {% if layout == 'alternate' %}
              role="button"
            {% endif %}
          >
            <img
              alt="{{ image.alt | escape }}"
              {% include 'img-src', img: image, size: '1050x' %}
            >
          </figure>
        {% else %}
          <figure
            class="
              product-image
              product-image-selected
            "
            data-product-image
            data-product-image-index="0"
            data-product-image-id="0"
            {% if layout == 'alternate' %}
              role="button"
            {% endif %}
          >
            {{ 'product-1' | placeholder_svg_tag }}
          </figure>
        {%- endfor -%}
      </div>

      {% if layout == 'alternate' %}
        <button
          class="product-images-scroll-down"
          type="button"
          data-product-images-scroll-down
        >
          {%- include 'icon', id: 'arrow' -%}
        </button>
      {% endif %}
    </div>

    {% if layout == 'alternate' %}
      <figure
        class="product-selected-image"
        data-product-selected-image
        data-product-selected-image-default="{{ product.featured_image.id }}"
        {% unless onboarding %}
          data-product-image-zoom
        {% endunless %}
      >
        {% if onboarding %}
          {{ 'product-1' | placeholder_svg_tag }}
        {% else %}
          <img
            alt="{{ selected_image.alt | escape }}"
            {% include 'img-src', img: selected_image, size: '1050x' %}
          >
        {% endif %}
      </figure>
    {% endif %}
  </section>
{%- endif -%}
