{% assign menu_count = 0 %}

{% if shop.customer_accounts_enabled %}
  {% assign menu_count = menu_count | plus: 1 %}
{% endif %}

{% for block in section.blocks %}
  {% if block.type == 'menu' %}
    {% assign menu_count = menu_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign social_count = 0 %}

{%- if section.settings.enable_social -%}
  {%- if settings.social_facebook != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_twitter != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_google != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_pinterest != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_instagram != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_vimeo != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_youtube != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_medium != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_email != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_rss != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}
{%- endif -%}

<footer class="site-footer">
  {% if section.settings.enable_newsletter or social_count > 0 %}
    <div class="site-footer-item site-footer-social">
      {% if section.settings.enable_newsletter %}{% include 'newsletter' %}{% endif %}
      {% if section.settings.enable_social %}{% include 'social' %}{% endif %}
    </div>
  {% endif %}

  <div class="site-footer-item site-footer-nav">
    <nav class="footnav footnav-count-{{ menu_count }}">

      {% for block in section.blocks %}
        <div class="footnav-item footnav-item-{{ block.type }}" {{ block.shopify_attributes }}>

          {% if block.type == 'richtext' %}
            <h1 class="footnav-title">{{ block.settings.title | escape }}</h1>
            <div class="footnav-rte">{{ block.settings.content }}</div>
          {% endif %}

          {% if block.type == 'menu' %}
            {% assign menu = linklists[block.settings.menu] %}

            <h1 class="footnav-title">{{ menu.title }}</h1>
            <ul class="footnav-menu">
              {% for link in menu.links %}
                <li class="footnav-menu-link">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if block.type == 'customer' %}
            {% if shop.customer_accounts_enabled %}
              <h1 class="footnav-title">{{ block.settings.title | escape }}</h1>
              <ul class="footnav-menu">
                {% if customer %}
                  <li class="footnav-menu-link">
                    <a href="/account">{{ 'footnav.account.logged_in_html' | t: user_name: customer.first_name }}</a>
                  </li>
                  <li class="footnav-menu-link">
                    {{ 'footnav.account.logout' | t | customer_logout_link }}
                  </li>
                {% else %}
                  <li class="footnav-menu-link">
                    {{ 'footnav.account.login' | t | customer_login_link }}
                  </li>
                  {% if shop.customer_accounts_optional %}
                    <li class="footnav-menu-link">
                      {{ 'footnav.account.register' | t | customer_register_link }}
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            {% endif %}
          {% endif %}

        </div>
      {% endfor %}

    </nav>
  </div>

  {% if section.settings.enable_payment_icons and shop.enabled_payment_types.size > 0 %}
    <div class="site-footer-item">
      {% include 'payment' %}
    </div>
  {% endif %}

  <div class="site-footer-item">
    <div class="credits">
      {% capture year %}
        {{ 'now' | date: '%Y' }}
      {% endcapture %}

      {{ 'general.general.copyright_html' | t: year: year, shop_name: shop.name }}
      <br>
      {{ 'general.general.copyright_credit_html' | t }}
      {{ powered_by_link }}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_newsletter",
      "label": "Enable newsletter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_social",
      "label": "Enable social accounts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_icons",
      "label": "Enable payment icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "richtext",
      "name": "Rich text",
      "limit": 2,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading",
          "default": "About"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Content",
          "default": "<p>Use this space to give credit where it's due, reinforce your brand identity, shop policy, or company motto.</p>"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "limit": 6,
      "settings": [
        {
          "id": "menu",
          "type": "link_list",
          "label": "Menu",
          "info": "This menu won't show dropdown items"
        }
      ]
    },
    {
      "type": "customer",
      "name": "Customer links",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show Log In and Register links. Ensure you've enabled customer accounts in the Checkout settings of your Shopify admin."
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Account"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "richtext",
        "settings": {}
      },
      {
        "type": "menu",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "customer",
        "settings": {}
      }
    ]
  },
  "locales": {
    "en": {
      "footnav": {
        "about": {
          "title": "About"
        },
        "account": {
          "login": "Log in",
          "logout": "Log out",
          "register": "Register",
          "logged_in_html": "Logged in as {{ user_name }}"
        }
      },
      "copyright_html": "Copyright &copy; {{ year }} {{ shop_name }}."
    }
  }
}

{% endschema %}